<div class="form-container">
    <div>
      <h2>{{ title }} Reservation</h2>
    </div>
    <p></p>
    <form [formGroup]="form" (ngSubmit)="createRoom(form)">
      <div class="form-group-row">
        <div class="form-group">
          <input formControlName="name" type="text" id="input-field-1" name="name" required>
          <label for="input-field-1">Name reservation</label>
        </div>
        <div class="form-group">
            <input formControlName="day" type="date" id="input-field-2" name="day" required [min]="minDate">
            <label for="input-field-2"> </label>
          </div>
      </div>
      <div class="form-group-row">
        <div class="form-group">
          <input formControlName="hour_start" type="time" id="input-field-3" name="hour_start" required>
          <label for="input-field-3">Hour start</label>
        </div>
        <div class="form-group">
          <input formControlName="duration" type="number" id="input-field-4" name="duration" required>
          <label for="input-field-4">Duration</label>
        </div>
      </div>
      <div class="form-group-row">
        <div class="form-group">
          <input formControlName="description" type="text" id="input-field-3" name="descripcion" required>
          <label for="input-field-3">Description</label>
        </div>
    
        <div class="form-group-select" >
            <select formControlName="roomId" id="state-room" name="stateCodeId" required>
              <option value="" disabled selected hidden></option>
              <option *ngFor="let stateRoom of stateRooms" [value]="stateRoom.id">
                {{ stateRoom.nombre }}
              </option>
            </select>
            <label for="state-room">State room</label>
          </div>
          
      </div>
       <div class="form-group-submit">
        <!-- <div class="form-group-select" *ngIf="this.data.bandera === 1">
          <select formControlName="stateCodeId" id="state-room" name="stateCodeId" required>
            <option value="" disabled selected hidden></option>
            <option *ngFor="let stateRoom of stateRooms" [value]="stateRoom.id">
              {{ stateRoom.nombre }}
            </option>
          </select>
          <label for="state-room">State room</label>
        </div> -->
        <button type="button" class="close-button" (click)="closeDialog()">Close</button>
        <button type="submit" class="submit-button">Submit</button>
      </div>
    </form>
  </div>